<!doctype html>
<html lang="en" class=" h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="../images/logo-blanc.png" />
    <link type="text/css" rel="stylesheet" href="../css/output.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <script type="text/javascript" defer src="../js/main.js"></script>
    <script type="text/javascript" defer src="../js/swipper.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="../js/activeLink.js" defer></script>
    <script src="../js/choose-seat.js" defer></script>
    <style>
   
  </style>
  </head> 
  <body class="relative min-h-screen  overflow-x-hidden h-full ">

    <!-- movie trailer video -->
    <div class="absolute bg-black w-[80%] h-[70%] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 hidden no-blur " id="movie">
        <div class="h-full w-full relative no-blur">
            <video class="w-full h-full" autoplay muted loop id="video">
                <source src="../video/blade-runner.mp4" type="video/mp4">
            </video>
            <div class="absolute top-2 right-4">
                <button id="close-video" class="hover:scale-105 hover:rotate-180 duration-500">
                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 15 15">
                        <path fill="white" d="M3.64 2.27L7.5 6.13l3.84-3.84A.92.92 0 0 1 12 2a1 1 0 0 1 1 1a.9.9 0 0 1-.27.66L8.84 7.5l3.89 3.89A.9.9 0 0 1 13 12a1 1 0 0 1-1 1a.92.92 0 0 1-.69-.27L7.5 8.87l-3.85 3.85A.92.92 0 0 1 3 13a1 1 0 0 1-1-1a.9.9 0 0 1 .27-.66L6.16 7.5L2.27 3.61A.9.9 0 0 1 2 3a1 1 0 0 1 1-1c.24.003.47.1.64.27"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <header class="relative">
        <!-- navbar section -->
        <%- include('../components/nav-bar') %>

        <!-- Slider main container -->
        <section class=" relative md:hidden">

            

            <div class="swiper hidden main-slider h-[60vh] ">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                <img
                    src="../images/films/blade-runner.jpeg"
                    alt="photo header"
                    class="object-cover w-full h-full"
                />
                </div>
                
            </div>
            </div>

            <div class=" h-full w-full bg-black/65 blur-md  absolute flex flex-col top-0 z-40 ">
                

            </div>
            
            <div class=" h-full w-full items-center gap-y-3 justify-start absolute flex flex-col top-0 z-40  pt-8 md:gap-y-0 ">
                
                
                <div class="container mx-auto w-[30%] min-h-[80%] md:h-[80%] md:w-[15%]">
                    <img src="../images/films/blade-runner.jpeg" class="object-cover w-full h-full" alt="">
                </div>

                <h1 class="font-arvo tracking-wider font-bold text-2xl text-white">Blade Runner</h1>
                    
            </div>
            
        </section>
      
    </header>

   
    <!-- main content -->
    <main class=" h-full w-full md:flex relative">

       


         
       

        <!-- DESKTOP sidebar -->
        <aside class="h-full  w-[20%] relative hidden md:block">

            <div class="swiper hidden main-slider h-full ">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                    <img
                        src="../images/films/blade-runner.jpeg"
                        alt="photo header"
                        class="object-cover w-full h-full"
                    />
                    </div>
                    
                </div>
            </div>
    
            <div class=" h-screen w-full bg-black/65 blur-sm  absolute flex flex-col top-0 z-40 "> </div>

            <!-- cinephoria logo -->
            <div class=" h-fit w-fit items-center space-y-8  justify-start absolute flex flex-col -top-2 right-5 z-40  pt-8 md:gap-y-0 ">
                <img src="../images/logo-blanc.png" height="25" width="25" alt="logo cinephoria">
            </div>

            <!-- current movie card -->
            <div class=" h-full w-full items-center space-y-12  justify-start absolute flex flex-col top-28 z-40  pt-8 md:gap-y-0 ">
                
                <div class="container mx-auto w-[80%] min-h-[60%]  relative">
                    <img src="../images/films/blade-runner.jpeg" class="object-cover w-full h-full" alt="">

                    <button class="absolute w-12 h-12 rounded-full bg-goldOne text-white flex items-center justify-center hover:scale-110 hover:rotate-[360deg] duration-500 left-1/2 -bottom-10 -translate-x-1/2 -translate-y-1/2" id="start-trailer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16"><g fill="none"><g clip-path="url(#gravityUiPlayFill0)"><path fill="currentColor" fill-rule="evenodd" d="M14.756 10.164c1.665-.962 1.665-3.366 0-4.329L6.251.918C4.585-.045 2.5 1.158 2.5 3.083v9.834c0 1.925 2.085 3.128 3.751 2.164z" clip-rule="evenodd"/></g><defs><clipPath id="gravityUiPlayFill0"><path fill="currentColor" d="M0 0h16v16H0z"/></clipPath></defs></g></svg>
                    </button>
                    

                </div>

                <h1 class="font-arvo tracking-wider font-bold text-3xl text-white">Blade Runner</h1>

            </div>

          <!-- session details -->
            <div class="container">
                <div class=" px-3 mx-auto bg-[#060F1E]  w-full  border-t border-b  border-gray-300 flex flex-col space-y-1 items-start justify-center h-fit py-3">
                    <h1 class="font-arvo text-white text-sm">Cinéma</h1>
                    <h2 class="font-arvo text-white text-lg font-bold">Cinéphoria les Halles</h2>
                </div>
    
                <div class=" px-3 mx-auto bg-[#060F1E]  w-full  border-t border-b  border-gray-300 flex flex-col space-y-1 items-start justify-center h-fit py-3">
                    <h1 class="font-arvo text-white text-sm">Date</h1>
                    <h2 class="font-arvo text-white text-lg font-bold">Mardi 07 Mai 2024</h2>
                </div>
    
                <div class=" px-3 mx-auto bg-[#060F1E]  w-full  border-t border-b  border-gray-300 flex flex-col space-y-1 items-start justify-center h-fit py-3">
                    <h1 class="font-arvo text-white text-sm">Scéance</h1>
                    <h2 class="font-arvo text-white text-lg font-bold">19:45 VF</h2>
                    <p class="font-arvo font-light text-white text-xs">Fin prévue à 21:16</p>
                </div>
            </div>

        </aside>
      
        <!--MOBILE session information -->
        <section class="flex flex-col w-full md:hidden">

            <div class=" px-5 mx-auto bg-[#060F1E]  w-full  border-t border-b  border-gray-300 flex flex-col space-y-1 items-start justify-center h-fit py-4">
                <h1 class="font-arvo text-white text-lg">Cinéma</h1>
                <h2 class="font-arvo text-white text-2xl font-bold">Cinéphoria les Halles</h2>
            </div>

            <div class=" px-5 mx-auto bg-[#060F1E]  w-full  border-t border-b  border-gray-300 flex flex-col space-y-1 items-start justify-center h-fit py-4">
                <h1 class="font-arvo text-white text-lg">Date</h1>
                <h2 class="font-arvo text-white text-2xl font-bold">Mardi 07 Mai 2024</h2>
            </div>

            <div class=" px-5 mx-auto bg-[#060F1E]  w-full  border-t border-b  border-gray-300 flex flex-col space-y-1 items-start justify-center h-fit py-4">
                <h1 class="font-arvo text-white text-lg">Scéance</h1>
                <h2 class="font-arvo text-white text-2xl font-bold">19:45 VF</h2>
                <p class="font-arvo font-light text-white text-xs">Fin prévue à 21:16</p>
            </div>

        </section>
     
       
        <!-- choose your seat section -->
        <section class=" h-full md:mx-auto md:w-[80%]   relative">
          
    
            
            <div class="container md:pt-10 pt-10  flex flex-col items-center mx-auto w-full space-y-7">
                <h1 class="font-arvo font-bold text-blueOne text-4xl">Sélectionnez vos places</h1>
                <p class="font-arvo text-blueOne text-xl">160 places libres</p>
            </div>

            <!-- seat map and selection -->
            <div class="screen text-blueOne mx-auto mt-4">
                écran
            </div>

            <!-- chairs -->
            <%- include('../components/chairs') %>

          
            <!-- details -->
            <div class="details" id="det">
                <div class="details_chair">
                    <li>Disponible</li>
                    <li>Occupé</li>
                    <li>Séléctionné</li>
                </div>
            </div>
        </section>

    

    </main>
    
    
  </body>
</html>
