<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <script type="text/javascript" defer src="../js/activeLink.js"></script>
        <link rel="stylesheet" href="../css/style.css">
      </head>

<body">

    <!-- Movie Listings -->
    <main class="container grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-14 md:gap-20 w-fit h-fit">

        <!-- movie card -->
        <div class="flex flex-col cursor-pointer items-center justify-center w-60 pb-3 h-fit space-y-2 ">
            <img src="/images/Films/fall-guy1.jpg" alt="Image 1" class="w-[40vw] h-[45vh] object-cover">
            <h1 class="font-arvo text-blueOne text-lg font-bold tracking-wide">
                Fall Guy
            </h1>
            <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
            Réservation faite le : 01/10/2023
            </p>
        </div>

        <!-- movie card -->
        <div class="flex flex-col cursor-pointer items-center justify-center w-60 pb-3 h-fit space-y-2 ">
            <img src="/images/Films/fall-guy1.jpg" alt="Image 1" class="w-[40vw] h-[45vh] object-cover">
            <h1 class="font-arvo text-blueOne text-lg font-bold tracking-wide">
                Fall Guy
            </h1>
            <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
            Réservation faite le : 01/10/2023
            </p>
        </div>

        <!-- movie card -->
        <div class="flex flex-col cursor-pointer items-center justify-center w-60 pb-3 h-fit space-y-2 ">
            <img src="/images/Films/fall-guy1.jpg" alt="Image 1" class="w-[40vw] h-[45vh] object-cover">
            <h1 class="font-arvo text-blueOne text-lg font-bold tracking-wide">
                Fall Guy
            </h1>
            <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
            Réservation faite le : 01/10/2023
            </p>
        </div>

        <!-- movie card -->
        <div class="flex flex-col cursor-pointer items-center justify-center w-60 pb-3 h-fit space-y-2 ">
            <img src="/images/Films/fall-guy1.jpg" alt="Image 1" class="w-[40vw] h-[45vh] object-cover">
            <h1 class="font-arvo text-blueOne text-lg font-bold tracking-wide">
                Fall Guy
            </h1>
            <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
            Réservation faite le : 01/10/2023
            </p>
        </div>
      
     
    </main>
    
</body>
</html>