<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <script type="text/javascript" defer src="/js/activeLink.js"></script>
        <link rel="stylesheet" href="/css/style.css">
      </head>

<body">

    <main class="bg-blueOne w-[15vw] h-screen hidden md:block">
        <!-- sidebar title -->
        <div class="flex space-x-7 p-4 pt-7">
            <p class="text-white text-2xl">Bonjour, <br><span class="text-3xl"><%= user.first_name %></span></p>
            <img class="h-28 w-12" src="/images/logo-blanc.png" alt="Cinéphoria small white logo">
        </div>

        <!-- sidebar nav menu -->
        <div class="container  mt-24  w-full h-full py-5">
            <a href="/dashboard/users" class=" ">
                <button class="text-white h-14 flex items-center justify-start px-4 gap-x-3 w-full font-bold font-arvo text-sm  hover:bg-goldOne active:bg-goldOne"><svg class=" top-34 left-5" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><g fill="none"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="white" d="M12 2c5.523 0 10 4.477 10 10a9.985 9.985 0 0 1-3.999 8H20a1 1 0 1 1 0 2h-8C6.477 22 2 17.523 2 12S6.477 2 12 2m0 12a2 2 0 1 0 0 4a2 2 0 0 0 0-4m-4-4a2 2 0 1 0 0 4a2 2 0 0 0 0-4m8 0a2 2 0 1 0 0 4a2 2 0 0 0 0-4m-4-4a2 2 0 1 0 0 4a2 2 0 0 0 0-4"/></g></svg>
                Mes commandes</button>
            </a>

            <button id="movie-description" class="text-white h-14  hidden items-center justify-start px-4 gap-x-3 w-full font-bold font-arvo text-sm  hover:bg-goldOne active:bg-goldOne"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="currentColor" d="M8 18h8v-2H8zm0-4h8v-2H8zm-2 8q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h8l6 6v12q0 .825-.587 1.413T18 22zm7-13h5l-5-5z"/></svg>
            Voir réservation</button>
        </div>
        
    </main>
    
</body>
</html>