<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="images/logo-blanc.png" />
    <link type="text/css" rel="stylesheet" href="css/output.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <script type="text/javascript" defer src="js/main.js"></script>
    <script type="text/javascript" defer src="js/swipper.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="relative min-h-screen pb-20" id="top">
    <header class="relative">
      <!-- navbar section -->
      <%- include('../components/nav-bar') %>

      <!-- Slider main container -->
      <div class="swiper main-slider h-[60vh]">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img
              src="images/Bannière/gabriel-dizzi-WPXxp36tkHQ-unsplash.jpg"
              alt="photo header"
              class="object-cover w-full h-full"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="images/Bannière/michel-caicedo-9cqLeJoS46w-unsplash.jpg"
              alt="photo header"
              class="object-cover w-full h-full"
            />
          </div>
        </div>
      </div>
    </header>

    <!-- main content -->
    <main class="flex-grow">
      <!-- DESKTOP search theater and movies filter  -->
      <section class="w-full hidden mt-10 md:block">
        <div class="container gap-y-7 w-fit mx-auto flex flex-col">
          <div class="container flex space-x-4 mx-auto">
            <div class="flex relative">

              <a href="#top">
                <button class="theater-filter">
                  <div
                    class="flex items-center justify-between cursor-pointer border border-gray-400/70 h-20 w-[80vw] bg-whiteOne px-4 pl-16"
                  >
                    <li class="list-none font-arvo text-blueOne">
                      Choisir un cinéma
                    </li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="text-blueOne"
                      width="1.9em"
                      height="1.9em"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M5.293 9.293a1 1 0 0 1 1.414 0L12 14.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414"
                      />
                    </svg>
                  </div>
                </button>
              </a>

              <div
                class="bg-goldOne w-12 h-10 flex items-center justify-center absolute -left-5 top-1/2 transform -translate-y-1/2 -rotate-12"
              >
                <p class="text-white font-arvo rotate-12 font-bold">Où ?</p>
              </div>
            </div>

            <!-- filter movies -->
            <button id="movies-filter">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-blueOne"
                width="50"
                height="50"
                viewBox="0 0 24 24"
              >
                <path
                  fill="#102c57"
                  d="M22 18.605a.75.75 0 0 1-.75.75h-5.1a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h7.74a2.93 2.93 0 0 1 5.66 0h5.1a.75.75 0 0 1 .75.75m0-13.21a.75.75 0 0 1-.75.75H18.8a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h10.39a2.93 2.93 0 0 1 5.66 0h2.45a.74.74 0 0 1 .75.75m0 6.6a.74.74 0 0 1-.75.75H9.55a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h1.14a2.93 2.93 0 0 1 5.66 0h11.7a.75.75 0 0 1 .75.75"
                />
              </svg>
            </button>
          </div>

          <div class="container w-fit">
            <button
              class="flex items-center justify-between space-x-4"
              id="search-movies"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-blueOne"
                width="1.5em"
                height="1.5em"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14"
                />
              </svg>
              <p class="text-blueOne font-arvo font-bold text-sm">
                RECHERCHER UN FILM
              </p>
            </button>
          </div>
        </div>
      </section>

      <!-- MOBILE search theater and movies filter  -->
      <section class="w-full flex flex-col mt-10 md:hidden">
        <div class="container gap-y-5 flex flex-col px-3 w-fit mx-auto">
          <!-- filter theater input -->
          <div class="container space-x-4 flex w-fit mx-auto">
            <div class="flex">
              <button id="search-theater">
                <div
                  class="flex items-center justify-between cursor-pointer border border-gray-400/70 h-14 w-72 bg-whiteOne px-4"
                >
                  <li class="list-none font-arvo text-blueOne">
                    Choisir un cinéma
                  </li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-blueOne"
                    width="1.9em"
                    height="1.9em"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M5.293 9.293a1 1 0 0 1 1.414 0L12 14.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414"
                    />
                  </svg>
                </div>
              </button>
            </div>

            <!-- filter movies -->
            <button id="movies-filter">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-blueOne"
                width="50"
                height="50"
                viewBox="0 0 24 24"
              >
                <path
                  fill="#102c57"
                  d="M22 18.605a.75.75 0 0 1-.75.75h-5.1a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h7.74a2.93 2.93 0 0 1 5.66 0h5.1a.75.75 0 0 1 .75.75m0-13.21a.75.75 0 0 1-.75.75H18.8a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h10.39a2.93 2.93 0 0 1 5.66 0h2.45a.74.74 0 0 1 .75.75m0 6.6a.74.74 0 0 1-.75.75H9.55a2.93 2.93 0 0 1-5.66 0H2.75a.75.75 0 1 1 0-1.5h1.14a2.93 2.93 0 0 1 5.66 0h11.7a.75.75 0 0 1 .75.75"
                />
              </svg>
            </button>
          </div>

          <div class="container w-fit">
            <button
              class="flex items-center justify-between space-x-4"
              id="search-movies"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="text-blueOne"
                width="1.5em"
                height="1.5em"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14"
                />
              </svg>
              <p class="text-blueOne font-arvo font-bold text-sm">
                RECHERCHER UN FILM
              </p>
            </button>
          </div>
        </div>
      </section>


      <!-- search theater dropdown  -->
      <section
        id="theater-menu"
        class="absolute z-10 top-[103px] hidden  bg-blueOne w-full text-5xl flex-col justify-center items-center origin-top animate-open-menu"
      >
        <div
          class="container gap-y-5 flex flex-col w-[80vw] mx-auto bg-transparent px-20"
        >
          <div
            class="w-full flex items-center justify-between text-white px-5 py-5"
          >
            <p class="font-arvo text-xl">Les scéances dans mon cinéma</p>
            <button class="text-6xl" id="close-search-theater-menu">
              &times;
            </button>
          </div>

          <form action="">
            <div
              class="flex items-center justify-between border border-gray-400/70 h-20 w-full bg-whiteOne px-4 pl-10"
            >
              <input
                class="list-none font-arvo text-xl text-blueOne outline-none flex-1 bg-transparent"
                placeholder="Choisir un cinéma"
              />
            </div>
          </form>

          <div class="container pt-3">
            <p class="font-arvo text-lg text-white">TOUS LES CINÉMAS</p>

            <ul
              class="flex flex-col min-h-screen space-y-3  py-8"
              aria-label="mobile"
            >

            <div class="relative">
              <button class="group flex items-center space-x-2 hover:text-goldOne duration-200 justify-between text-nowrap px-3 font-arvo text-lg text-white w-60" id="quickaccess-1">
                FRANCE (4 CINÉMAS)
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="text-white duration-200 group-hover:text-goldOne"
                    width="1.9em"
                    height="1.9em"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M5.293 9.293a1 1 0 0 1 1.414 0L12 14.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414"
                    />
                  </svg>
                </div>
              </button>

              <form action="">
                <ul class="bg-transparent flex-col w-fit h-fit py-4 px-10 space-y-4 origin-top animate-open-menu  hidden" id="france-cinema-list">
                    <li class="font-arvo cursor-pointer text-white hover:text-goldOne duration-200 ease-out  text-lg">Cinephoria Ulis</li>
                    <li class="font-arvo cursor-pointer text-white hover:text-goldOne duration-200 ease-out  text-lg">Cinephoria Ulis</li>
                    <li class="font-arvo cursor-pointer text-white hover:text-goldOne duration-200 ease-out  text-lg">Cinephoria Ulis</li>
                    <li class="font-arvo cursor-pointer text-white hover:text-goldOne duration-200 ease-out  text-lg">Cinephoria Ulis</li>
                </ul>
              </form>
            </div>
            
            <div class="relative">
              <button class="group flex items-center space-x-2 hover:text-goldOne duration-200 justify-between text-nowrap px-3 font-arvo text-lg text-white w-60" id="quickaccess-2">
                BELGIQUE (2 CINÉMAS)
                <div>
                  <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="text-white duration-200 group-hover:text-goldOne"
                      width="1.9em"
                      height="1.9em"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M5.293 9.293a1 1 0 0 1 1.414 0L12 14.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414"
                      />
                    </svg>
                </div>
              </button>

              <form action="">
                <ul class="bg-transparent flex-col w-fit h-fit py-4 px-10 space-y-4 origin-top animate-open-menu  hidden" id="belgium-cinema-list">
                    <li class="font-arvo cursor-pointer text-white hover:text-goldOne duration-200 ease-out  text-lg">Cinephoria Bruxelles</li>
                    <li class="font-arvo cursor-pointer text-white hover:text-goldOne duration-200 ease-out  text-lg">Cinephoria Bruxelles</li>
                </ul>
              </form>
            </div>
      
            </ul>
          </div>

        </div>
      </section>
    </main>

    <!-- footer section -->
    <footer class="mt-80"><%- include('../components/footer') %></footer>
  </body>
</html>
