<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="../../css/output.css" />
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="icon" href="../../images/logo-blanc.png" type="image/x-icon">
    <script src="../../js/activeLink.js" defer></script>
    <script src="../../js/changePass.js" defer></script>
</head>
<body>
    <%- include('../../components/resetPassword') %>
</body>
</html>