<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/logo-blanc.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/1126a5f03b.js" crossorigin="anonymous"></script>
</head>
<body class=" min-h-screen relative ">
<!-- Nav Bar -->
<header class="relative z-10 ">
    <%- include('../../components/dashboard/nav-bar-dashboard') %>
</header>

<!-- Cinema and Date Filters -->
<main class="flex text-blueOne w-full flex-col items-center gap-y-7 justify-center md:w-[85vw]  ml-auto md:pt-40 " id="main-container">

    <section class="container w-full  md:w-[85vw]  ml-auto flex flex-col mt-10 ">

       <form action="" method="post" class="flex flex-col items-center justify-center  bg-whiteOne w-[90%] md:w-[55%] mx-auto rounded-sm px-6 py-5 space-y-5 md:py-7 md:space-y-8">

            <h1 class="text-blueOne font-arvo text-3xl tracking-wide font-bold text-center">AJOUTER </h1>

            <button class="w-full h-16 bg-white flex items-center justify-between px-7" id="select-theater">
                <p class="font-arvo text-lg font-bold text-blueOne">choisir un  cinema</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><path fill="currentColor" d="M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0c.436.445.408 1.197 0 1.615c-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163c-.409-.418-.436-1.17 0-1.615"/></svg>
            </button>

            <!-- option field section  -->
            <section id="main-field" class="flex flex-col w-full gap-y-6">

                <div class="w-full h-16 bg-white flex items-center justify-center pl-4">
                    <input type="text" class="outline-none flex-1 w-full h-full flex items-center placeholder:text-lg placeholder:text-blueOne placeholder:font-arvo placeholder:font-bold" placeholder="SALLE">
                </div>

                <div class="w-full h-16 bg-white flex items-center justify-center pl-4">
                    <input type="text" class="outline-none flex-1 w-full h-full flex items-center placeholder:text-lg placeholder:text-blueOne placeholder:font-arvo placeholder:font-bold" placeholder="NOMBRE DE PLACE">
                </div>

                <div class="w-full h-16 bg-white flex items-center justify-center pl-4">
                    <input type="text" class="outline-none flex-1 w-full h-full flex items-center placeholder:text-lg placeholder:text-blueOne placeholder:font-arvo placeholder:font-bold" placeholder="QUALITÉ">
                </div>
            </section>
           
            <button class="mx-auto bg-redOne font-arvo text-white font-bold text-lg px-10 py-2 mt-2 flex hover:scale-95 duration-200 ease-in-out items-center justifify-center">Ajouter</button>

        </form>

    </section>

</main>


<!-- Side Bar Menu -->
<aside class="fixed z-20 top-0 left-0 h-screen">
    <%- include('../../components/dashboard/side-menu') %>
</aside>





<!-- Footer -->
<footer class="pt-[400px]">
    <%- include('../../components/footer') %>
</footer>

</body>
</html>