<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/logo-blanc.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/1126a5f03b.js" crossorigin="anonymous"></script>
</head>
<body class=" min-h-screen relative ">
<!-- Nav Bar -->
<header class="relative z-10 ">
    <%- include('../../components/dashboard/nav-bar-dashboard') %>
</header>

<!-- Cinema and Date Filters -->
<main class="flex text-blueOne flex-col items-center gap-y-7 justify-center w-[85vw]  ml-auto md:pt-40 " id="main-container">

    
    <section class="container flex gap-y-10 flex-col md:gap-y-10 mt-10">

        <a href="/dashboard/admin/employees/add">
            <button class="container  flex flex-col  items-center justify-center space-y-7 bg-whiteOne rounded-sm w-[80%] h-[25vh] hover:scale-105 duration-300 ease-in-out mx-auto md:w-7/12 ">
                <p class="font-arvo font-bold text-2xl text-blueOne w-full text-center">AJOUTER EMPLOYÉ</p>
            </button>
        </a>

        <a href="/dashboard/admin/employees/update">
            <button class="container  flex flex-col  items-center justify-center space-y-7 bg-whiteOne rounded-sm w-[80%] h-[25vh] hover:scale-105 duration-300 ease-in-out mx-auto md:w-7/12 ">
                <p class="font-arvo font-bold text-2xl text-blueOne w-full text-center">MODIFIER EMPLOYÉ</p>
            </button>
        </a>

        <a href="/dashboard/admin/employees/delete">
            <button class="container  flex flex-col  items-center justify-center space-y-7 bg-whiteOne rounded-sm w-[80%] h-[25vh] hover:scale-105 duration-300 ease-in-out mx-auto md:w-7/12 ">
                <p class="font-arvo font-bold text-2xl text-blueOne w-full text-center">SUPPRIMER EMPLOYÉ</p>
            </button>
        </a>

    </section>

    
</main>


<!-- Side Bar Menu -->
<aside class="fixed z-20 top-0 left-0 h-screen">
    <%- include('../../components/dashboard/side-menu') %>
</aside>





<!-- Footer -->
<footer class="pt-[400px]">
    <%- include('../../components/footer') %>
</footer>

</body>
</html>