<!DOCTYPE html>
<html lang="en" class="h-full">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="/images/logo-blanc.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/filter.js" defer></script>
    <script type="text/javascript" src="/js/main.js" defer></script>
    
</head>

<body class=" min-h-screen relative ">
    <!-- Nav Bar -->
    <header class=" ">
        <%- include('../../components/dashboard/nav-bar-dashboard') %>
    </header>
    

    <!-- Side Bar Menu -->
    <aside class="fixed z-20 top-0 left-0 h-screen">
        <%- include('../../components/dashboard/side-menu') %>
    </aside>

    <!-- Cinema and Date Filters -->
    <main class=" flex text-blueOne flex-col items-center gap-y-7 justify-center w-[85vw] ml-auto md:pt-32 md:mb-32 " id=" main-container ">

        <section class=" container flex gap-y-10 flex-col md:gap-y-10 mt-10 ">

            <a href="/dashboard/employee/films/add">
                <button class=" container flex flex-col items-center justify-center space-y-7 bg-whiteOne rounded-sm w-[80%] h-[25vh] hover:scale-105 duration-300 ease-in-out mx-auto md:w-7/12 ">
                    <p class="font-arvo font-bold text-2xl text-blueOne w-full text-center">AJOUTER UN FILM</p>
                </button>
            </a>

            <a href="/dashboard/employee/films/update">
                <button class=" container flex flex-col items-center justify-center space-y-7 bg-whiteOne rounded-sm w-[80%] h-[25vh] hover:scale-105 duration-300 ease-in-out mx-auto md:w-7/12 ">
                    <p class="font-arvo font-bold text-2xl text-blueOne w-full text-center">MODIFIER UN FILM</p>
                </button>
            </a>

            <a href="/dashboard/employee/films/delete">
                <button class=" container flex flex-col items-center justify-center space-y-7 bg-whiteOne rounded-sm w-[80%] h-[25vh] hover:scale-105 duration-300 ease-in-out mx-auto md:w-7/12 ">
                    <p class="font-arvo font-bold text-2xl text-blueOne w-full text-center">SUPPRIMER FILM</p>
                </button>
            </a>

        </section>
        
    </main>

    
    <!-- Footer -->
    <footer class="pt-80">
        <%- include('../../components/footer') %>
    </footer>
    
    <div class="hidden" id="close-filter-menu"></div>

</body>

</html>