<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
      <!-- chairs -->
      <div class="chair ">
        <div class="row relative space-x-0.5 md:-space-x-10">
            <span>J</span>
            
           
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <span>J</span>
        </div>
        <div class="row relative space-x-0.5 md:-space-x-10">
            <span>J</span>
            
           
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <span>J</span>
        </div>
        <div class="row relative space-x-0.5 md:-space-x-10">
            <span>J</span>
            
           
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <span>J</span>
        </div>
        <div class="row relative space-x-0.5 md:-space-x-10">
            <span>J</span>
            
           
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <span>J</span>
        </div>
        <div class="row relative space-x-0.5 md:-space-x-10">
            <span>J</span>
            
           
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <span>J</span>
        </div>
        <div class="row relative space-x-0.5 md:-space-x-10">
            <span>J</span>
            
           
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <span>J</span>
        </div>
        <div class="row relative space-x-0.5 md:-space-x-10">
            <span>J</span>
            
           
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <li class="seat">560</li>
            <span>J</span>
        </div>
      
    </div>
</body>
</html>