<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <script defer src="/js/filterMovies.js"></script>
</head>
<body>
  <!-- filter menu -->
  <section id="filter-menu" class="absolute z-10 top-[130px] hidden bg-blueOne w-full text-5xl flex-col justify-center items-center origin-top animate-open-menu">
    <div class="container gap-y-5 flex flex-col w-[80vw] mx-auto bg-transparent pt-4 md:px-20">
      <div class="w-full flex items-center justify-between text-white md:px-5 md:py-5">
        <div class="flex flex-col">
          <p class="font-arvo text-4xl text-nowrap">FILTRER</p>
        </div>
        <a href="#bottom">
          <button class="text-6xl pb-3" id="close-filter-menu">&times;</button>
        </a>
      </div>

      <form id="filter-form" action="" method="GET" class="container flex flex-col min-h-screen">
        <input type="hidden" name="cinemaId" id="cinemaId" value="<%= cinemaId %>">
        <!-- Vos filtres ici -->
        <!-- movies genre filter -->
        <div class="flex">
          <div class="h-fit flex flex-col space-y-4">
            <p class="font-arvo text-2xl text-white text-nowrap">GENRE</p>
            <ul class="list-none w-fit md:w-[15vw] space-y-2" id="genre-filter">
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="genres" id="genre-drama" class="custom-checkbox relative" value="drame">
                <label for="genre-drama" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">DRAME</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="genres" id="genre-fantastique" class="custom-checkbox relative" value="fantastique">
                <label for="genre-fantastique" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">FANTASTIQUE</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="genres" id="genre-thriller" class="custom-checkbox relative" value="thriller">
                <label for="genre-thriller" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">THRILLER</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="genres" id="genre-scifi" class="custom-checkbox relative" value="science-fiction">
                <label for="genre-scifi" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">SCIENCE-FICTION</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="genres" id="genre-romance" class="custom-checkbox relative" value="romance">
                <label for="genre-romance" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">ROMANCE</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="genres" id="genre-action" class="custom-checkbox relative" value="action">
                <label for="genre-action" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">ACTION</label>
              </li>
            </ul>
          </div>

          <!-- movies days filter -->
          <div class="h-fit flex flex-col space-y-4">
            <p class="font-arvo text-2xl text-white text-nowrap">JOURS</p>
            <ul class="list-none w-fit md:w-[15vw] space-y-2" id="day-filter">
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="days" id="day-monday" class="custom-checkbox relative" value="lundi">
                <label for="day-monday" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">LUNDI</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="days" id="day-tuesday" class="custom-checkbox relative" value="mardi">
                <label for="day-tuesday" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">MARDI</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="days" id="day-wednesday" class="custom-checkbox relative" value="mercredi">
                <label for="day-wednesday" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">MERCREDI</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="days" id="day-thursday" class="custom-checkbox relative" value="jeudi">
                <label for="day-thursday" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">JEUDI</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="days" id="day-friday" class="custom-checkbox relative" value="vendredi">
                <label for="day-friday" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">VENDREDI</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="days" id="day-saturday" class="custom-checkbox relative" value="samedi">
                <label for="day-saturday" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">SAMEDI</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="days" id="day-sunday" class="custom-checkbox relative" value="dimanche">
                <label for="day-sunday" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">DIMANCHE</label>
              </li>
            </ul>
          </div>

          <!-- movies qualité filter -->
          <div class="h-fit flex flex-col space-y-4">
            <p class="font-arvo text-2xl text-white text-nowrap">QUALITÉ</p>
            <ul class="list-none w-fit md:w-[15vw]" id="quality-filter">
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="qualities" id="quality-4k" class="custom-checkbox relative" value="4k">
                <label for="quality-4k" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">4K</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="qualities" id="quality-3d" class="custom-checkbox relative" value="3d">
                <label for="quality-3d" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">3D</label>
              </li>
              <li class="list-none flex items-center space-x-2">
                <input type="checkbox" name="qualities" id="quality-4dx" class="custom-checkbox relative" value="4dx">
                <label for="quality-4dx" class="font-arvo text-white text-lg pt-1.5 tracking-wider align-text-bottom">4DX</label>
              </li>
            </ul>
          </div>
        </div>
      
        <div class="container flex justify-around mt-6 md:justify-start md:space-x-10 md:mt-10">
          <!-- Reset filter -->
          <button type="button" id="reset-filter" class="bg-goldOne w-40 h-12 hover:scale-105 duration-200">
            <p class="text-white font-arvo text-sm tracking-wider">RÉINITIALISER</p>
          </button>
      
          <!-- Validate filter -->
          <button type="submit" id="apply-filter" class="bg-redOne w-32 h-12 hover:scale-105 duration-200">
            <p class="text-white font-arvo text-sm tracking-wider">VALIDER</p>
          </button>
        </div>
      </form>
    </div>
  </section>
</body>
</html>
