<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <!-- Footer Desktop version -->
    <section class="w-full hidden overflow-hidden md:flex bg-blueOne text-white font-semibold max-w-full justify-between items-center px-10 py-5 max-h-[30vh] ">

        <div class="flex flex-col items-center text-xs ml-10 mb-16  md:mt-10 pt-8">
            <!-- Logo et Copywrite -->
            <a href="/"><img src="/images/logo-blanc.png" class="h-28 mb-4"></a>  
            <p>2000-2024 © Cinéphoria</p> 
            <!-- logo -->
        </div>
        <!-- Adresse Cinéma -->
        <div class="flex flex-col items-end text-lg text-center">
            <p>155 rue de Charonne - 75011 Paris - France</p>
            <p>+33 01 41 65 24 32</p>
            <p>Du Lundi au Vendredi de 09H00 à 19H00</p>
        </div>
    </section>

    <!-- section Responsive Mobile --> 
    <section class="w-full md:hidden overflow-hidden h-96 bg-blueOne text-white font-arvo font-semibold absolute bottom-0">
            <!-- Adresse Cinéma -->
        <div class="text-base text-center mb-16 mt-12">
            <p>155 rue de Charonne - 75011 Paris - France</p>
            <p>+33 01 41 65 24 32</p>
            <p>Du Lundi au Vendredi de 09H00 à 19H00</p>
        </div>
        <div class="flex flex-col items-center text-xs">
            <!-- Logo et Copywrite -->
            <a href="/"><img src="/images/logo-blanc.png" class="h-28 mb-4"></a>  
            <p>2000-2024 © Cinéphoria</p> 
            <!-- logo -->
        </div>
    </section>
</body>
</html>