<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link type="text/css" rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- latest movies carousel -->
    <div class="swiper latest-movie-slider">
      <div class="swiper-wrapper">
        <!-- card -->
        <div class="swiper-slide flex flex-col items-center justify-center">
          <a href="/">
            <div
              class="flex space-y-2 items-center justify-center flex-col w-60 pb-3"
            >
              <div class="w-full h-fit">
                <img
                  src="images/Films/0079479_11.jpg"
                  alt="photo film"
                  class="object-cover"
                />
              </div>
              <h1
                class="font-arvo text-blueOne text-lg font-bold tracking-wide"
              >
                Une affaire de principe
              </h1>
              <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
                Depuis le 15 Mail 2024
              </p>
            </div>
          </a>
        </div>
        <!-- card -->
        <div class="swiper-slide flex flex-col items-center justify-center">
          <a href="/">
            <div
              class="flex space-y-2 items-center justify-center flex-col w-60 pb-3"
            >
              <div class="w-full h-fit">
                <img
                  src="images/Films/0079479_11.jpg"
                  alt="photo film"
                  class="object-cover"
                />
              </div>
              <h1
                class="font-arvo text-blueOne text-lg font-bold tracking-wide"
              >
                Une affaire de principe
              </h1>
              <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
                Depuis le 15 Mail 2024
              </p>
            </div>
          </a>
        </div>
        <!-- card -->
        <div class="swiper-slide flex flex-col items-center justify-center">
          <a href="/">
            <div
              class="flex space-y-2 items-center justify-center flex-col w-60 pb-3"
            >
              <div class="w-full h-fit">
                <img
                  src="images/Films/0079479_11.jpg"
                  alt="photo film"
                  class="object-cover"
                />
              </div>
              <h1
                class="font-arvo text-blueOne text-lg font-bold tracking-wide"
              >
                Une affaire de principe
              </h1>
              <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
                Depuis le 15 Mail 2024
              </p>
            </div>
          </a>
        </div>
        <!-- card -->
        <div class="swiper-slide flex flex-col items-center justify-center">
          <a href="/">
            <div
              class="flex space-y-2 items-center justify-center flex-col w-60 pb-3"
            >
              <div class="w-full h-fit">
                <img
                  src="images/Films/0079479_11.jpg"
                  alt="photo film"
                  class="object-cover"
                />
              </div>
              <h1
                class="font-arvo text-blueOne text-lg font-bold tracking-wide"
              >
                Une affaire de principe
              </h1>
              <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
                Depuis le 15 Mail 2024
              </p>
            </div>
          </a>
        </div>
        <!-- card -->
        <div class="swiper-slide flex flex-col items-center justify-center">
          <a href="/">
            <div
              class="flex space-y-2 items-center justify-center flex-col w-60 pb-3"
            >
              <div class="w-full h-fit">
                <img
                  src="images/Films/0079479_11.jpg"
                  alt="photo film"
                  class="object-cover"
                />
              </div>
              <h1
                class="font-arvo text-blueOne text-lg font-bold tracking-wide"
              >
                Une affaire de principe
              </h1>
              <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
                Depuis le 15 Mail 2024
              </p>
            </div>
          </a>
        </div>
        <!-- card -->
        <div class="swiper-slide flex flex-col items-center justify-center">
          <a href="/">
            <div
              class="flex space-y-2 items-center justify-center flex-col w-60 pb-3"
            >
              <div class="w-full h-fit">
                <img
                  src="images/Films/0079479_11.jpg"
                  alt="photo film"
                  class="object-cover"
                />
              </div>
              <h1
                class="font-arvo text-blueOne text-lg font-bold tracking-wide"
              >
                Une affaire de principe
              </h1>
              <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
                Depuis le 15 Mail 2024
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
