<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="absolute top-60 w-[80vw] h-[85vh] -left-20 z-50 flex-col items-center justify-between no-blur hidden" id="description-card">
        <div class="top-div bg-goldOne relative py-8">
            <div class="absolute top-16 right-24 z-50">
                <button id="close-description">
                    <i class="fa-solid fa-xmark fa-xl"></i>
                </button>
            </div>
            <div class="absolute rounded-xl bg-white w-[85%] h-[80%] left-1/2 gap-y-4 -translate-x-[50%] flex flex-col items-center px-16 py-10">
                <!-- moives date info -->
                <div class="mx-auto flex flex-col space-y-1 w-fit h-fit">
                    <div class="font-arvo font-bold text-lg text-blueOne text-center tracking-wide movie-date">Mardi 7 Mai</div>
                    <p class="font-arvo font-bold text-sm text-blueOne text-center tracking-wide movie-time">19:45</p>
                    <p class="font-arvo font-bold text-xs text-blueOne/45 text-center tracking-wide movie-version">VF</p>
                </div>
                <!-- movie and times info -->
                <div class="w-full flex items-center justify-between bg-whiteOne shadow-xl rounded-xl pl-5">
                    <div class="h-full w-fit flex flex-col items-start justify-center space-y-2 py-7">
                        <h1 class="font-bold text-blueOne font-arvo text-2xl tracking-wide movie-title">Blade Runner</h1>
                        <div class="flex items-center space-x-3 justify-between">
                            <p class="text-sm text-blueOne font-arvo movie-duration">Durée : 1h31</p>
                            <div class="rounded-full text-sm p-1 bg-blueOne/20 font-arvo text-blueOne movie-end-time">Fin prévue à 21h36</div>
                        </div>
                    </div>
                    <div class="h-full flex items-center justify-between space-x-4 w-fit">
                        <div class="flex flex-col items-center justify-center space-y-1">
                            <p class="font-bold text-blueOne font-arvo text-xl movie-seats">1 Place</p>
                            <p class="font-arvo font-bold text-xl text-blueOne/45 text-center movie-quality">4k</p>
                        </div>
                        <div class="w-24 rounded-xl h-full">
                            <img src="images/Films/blade-runner.png" class="object-cover rounded-xl movie-poster" alt="movie-picture">
                        </div>
                    </div>
                </div>
                <!-- theater info -->
                <div class="container flex flex-col space-y-0.5">
                    <div class="w-full flex items-center justify-between bg-whiteOne shadow-xl rounded-xl pl-5">
                        <div class="h-full w-fit flex flex-col items-start justify-center space-y-2 py-7">
                            <p class="font-bold text-blueOne font-arvo text-2xl tracking-wide cinema-name">Cinephoria les Halles</p>
                            <div class="flex items-start justify-start">
                                <p class="text-sm tracking-wide text-blueOne font-arvo cinema-location">Paris 75001</p>
                            </div>
                        </div>
                        <div class="h-full flex items-center justify-center space-x-3 w-fit pr-10">
                            <div class="flex bg-goldOne w-20 h-14 rounded-xl items-center justify-center">
                                <p class="text-center text-blueOne font-arvo font-bold movie-hall">Salle 8</p>
                            </div>
                        </div>
                    </div>
                    <!-- accessibility info -->
                    <div class="w-full flex items-center justify-between bg-whiteOne shadow-xl rounded-xl pl-5">
                        <div class="h-full w-fit flex items-center justify-between space-x-4 py-7">
                            <i class="fa-solid fa-wheelchair-move"></i>
                            <p class="text-lg tracking-wide text-blueOne font-arvo movie-accessibility">Accessible aux PMR</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>