<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body class="mx-14">
    <nav class="w-full overflow-hidden">
        <ul class="flex flex-row mt-8 w-full justify-between text-blueOne font-arvo font-bold text-base items-center">
            <li class="hover:text-goldOne hover:border-b-4 rounded hover:border-goldOne border-transparent border-b"><a href="">ACCUEIL</a></li>
            <li class="hover:text-goldOne hover:border-b-4 hover:border-goldOne border-transparent border-b"><a href="">FILMS</a></li>
            <li class="hover:text-goldOne hover:border-b-4 hover:border-goldOne border-transparent border-b"><a href="">RÉSERVATION</a></li>
            <li><img src="/images/logo-principal.png" class="w-40"></li>
            <li class="underline decoration-4"><a href="">CONTACT</a></li>
            <li class="hover:text-goldOne hover:border-b-4 hover:border-goldOne border-transparent border-b"><a href="">CONNEXION</a></li>
            <li class="hover:text-goldOne hover:border-b-4 hover:border-goldOne border-transparent border-b"><a href="">CRÉER UN COMPTE</a></li>
        </ul>
    </nav>
</body>
</html>