<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <!-- latest movies carousel -->
     <div class="swiper latest-movie-slider">
        <div class="swiper-wrapper">
          
          <!-- card -->
          <div class="swiper-slide flex flex-col items-center justify-center">
            <a href="/films/disponibiliter">
              <div
                class="flex space-y-2 items-center justify-center flex-col w-60 pb-3"
              >
                <div class="w-full h-fit relative group">
                  <div class="relative">
                    <img
                      src="images/Films/la-fleur.jpg"
                      alt="photo film"
                      class="object-cover"
                    />
                    <!-- movie details container -->
                    <div class="absolute inset-0 flex flex-col items-center justify-center bg-blueOne/85 p-2 px-8 space-y-4 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                      <p class="font-arvo  text-white text-sm text-center text-ellipsis">
                        C'est l’histoire d’un cascadeur, et comme tous les cascadeurs, il se
                        fait tirer dessus, exploser, écraser, jeter par les fenêtres et 
                        tombe toujours de plus en plus haut.
                      </p>

                      <p class="font-arvo  text-goldOne font-bold text-sm text-center">
                        5/5
                      </p>
                    </div>
                  </div>
                  <div class="absolute top-4 right-0 bg-goldOne/85 font-arvo text-white font-bold  h-6 w-fit px-2 text-nowrap">
                    Drame
                  </div>
                </div>
                <h1
                  class="font-arvo text-blueOne text-lg font-bold tracking-wide"
                >
                  Une affaire de principe
                </h1>
                <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
                  Depuis le 15 Mai 2024
                </p>
              </div>
            </a>
          </div>
         
          
        </div>
      </div>
</body>
</html>