<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form class="font-arvo px-10 w-full" action="" method="">

        <div class="flex flex-col">
            <div class="">
                <div class="w-full border border-gray-300 p-3 rounded-sm bg-whiteOne mb-3">
                    <input class="bg-whiteOne outline-none flex-1 w-full placeholder:text-blueOne" type="text" id="name" name="name" placeholder="Nom*" Prequired>
                </div>
            </div>
            <div class="">
                <div class="w-full border border-gray-300 p-3 rounded-sm bg-whiteOne mb-3">
                    <input class="bg-whiteOne m-0 w-full placeholder:text-blueOne" type="text" id="prenom" name="first_name" placeholder="Prénom*" required>
                </div>
            </div>
            <div class="">
                <div class="w-full border border-gray-300 p-3 rounded-sm bg-whiteOne mb-3">
                    <input class="bg-whiteOne outline-none w-full flex-1 placeholder:text-blueOne" type="text" id="email" name="email" placeholder="E-mail*" Prequired>
                </div>
            </div>
            <div class="">
                <div class="w-full border border-gray-300  p-3 rounded-sm bg-whiteOne mb-3">
                    <input class="bg-whiteOne m-0 placeholder:text-blueOne outline-none  flex-1 w-full" type="text" id="password" name="password" placeholder="Mot de passe*" required>
                </div>
            </div>
            <div class="">
                <div class="w-full border border-gray-300  p-3 rounded-sm bg-whiteOne mb-3">
                    <input class="bg-whiteOne m-0 placeholder:text-blueOne outline-none  flex-1 w-full" type="text" id="" name="confirm_password" placeholder="Confirmer  mot de passe*" required>
                </div>
            </div>
            
        </div>

        <p class="text-xxs font-extrabold text-blueOne opacity-90 mt-2 mb-10">Utilisez 8 caractères minimum (avec un chiffre, une majuscule et une minuscule)</p>
    

        <div class="flex justify-center">
            <button class="bg-redOne text-white py-2 px-4 w-52 rounded-sm hover:scale-105 hover:bg-red-500 duration-200 text-nowrap">JE CRÉER UN COMPTE</button>
        </div>
        <p class="text-xxs text-center font-extrabold text-blueOne opacity-90 mt-2 mb-4">*Champs obligatoires</p>
    </form>
</body>
</html>