<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="relative min-h-screen pb-20">
    <header class="relative">
        <!-- navbar section -->
        <%- include('../components/nav-bar') %>
    </header>

    <main class="flex flex-col items-center justify-center min-h-screen mb-32 gap-y-3">
        <div class="flex items-center justify-center mx-auto font-arvo text-9xl font-bold rotate-12 border border-blueOne rounded-full w-40 h-40 text-blueOne ">?</div>
  
        <!-- connection container -->
        <div class="w-full max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl h-fit ">

            <div class="font-arvo px-10 pt-7  w-full  ">
                <h1 class="text-blueOne font-extrabold text-center text-2xl mb-10 md:text-4xl">Réinitialiser votre mot de passe</h1>
            </div>
            
        </div>

        <form class="font-arvo px-10 w-[48vw] space-y-5" action="/api/v1/change-pass" method="post" id="reset-pass-form">

            <div class="flex flex-col">
                <div class="">
                    <div class="w-full border border-gray-300 p-3 rounded-sm bg-whiteOne mb-3 hidden">
                        <input class="bg-whiteOne outline-none flex-1 w-full placeholder:text-blueOne" type="text" id="userId" value="<%= id %>" name="userId">
                    </div>
                </div>
                <div class="">
                    <div class="w-full border border-gray-300 p-3 rounded-sm bg-whiteOne mb-3">
                        <input class="bg-whiteOne m-0 w-full outline-none placeholder:text-blueOne" type="password" id="newPassword" name="newPassword" placeholder="Nouveau mot de passe*" required>
                    </div>
                </div>
            </div>

            <div id="error-message" class="error">Le mot de passe doit contenir au moins une majuscule, 8 caractères, un caractère spécial et un chiffre.</div>
            
            <div class="flex justify-center">
                <button type="submit" class="bg-redOne text-white py-2 px-4 w-52 h-12 rounded-sm hover:scale-105 hover:bg-red-500 duration-200">Changer</button>
            </div>
            <p class="text-xxs text-center font-extrabold text-blueOne opacity-90 mt-2 mb-4">*Champs obligatoires</p>
        </form>

    </main>

    <footer>
        <!-- footer section -->
        <%- include('../components/footer') %>
      </footer>
</body>
</html>