<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="flex w-[10%] shadow-xl h-[15vh] bg-whiteOne border border-gray-300">
    <div class="flex flex-col items-center justify-center  w-[100%] h-full">
      <p class="font-arvo w-full text-center font-bold text-gray-400/80">
        Ven.
      </p>
      <p class="font-arvo font-bold w-full text-center text-2xl text-gray-400/80">
        03
      </p>
      <p class="font-arvo w-full text-center font-bold text-gray-400/80">
        Mai
      </p>
    </div>
  </div>

  <div class="flex w-[10%] shadow-xl h-[15vh] bg-whiteOne border border-gray-300">
    <div class="flex flex-col items-center justify-center  w-[100%] h-full">
      <p class="font-arvo w-full text-center font-bold text-gray-400/80">
        Ven.
      </p>
      <p class="font-arvo font-bold w-full text-center text-2xl text-gray-400/80">
        03
      </p>
      <p class="font-arvo w-full text-center font-bold text-gray-400/80">
        Mai
      </p>
    </div>
  </div>

  <div class="flex w-[10%] shadow-xl h-[15vh] bg-whiteOne border border-gray-300">
    <div class="flex flex-col items-center justify-center  w-[100%] h-full">
      <p class="font-arvo w-full text-center font-bold text-gray-400/80">
        Ven.
      </p>
      <p class="font-arvo font-bold w-full text-center text-2xl text-gray-400/80">
        03
      </p>
      <p class="font-arvo w-full text-center font-bold text-gray-400/80">
        Mai
      </p>
    </div>
  </div>

  <div class="flex w-[10%] shadow-xl h-[15vh] bg-whiteOne border border-gray-300">
    <div class="flex flex-col items-center justify-center  w-[100%] h-full">
      <p class="font-arvo w-full text-center font-bold text-blueOne">
        Ven.
      </p>
      <p class="font-arvo font-bold w-full text-center text-2xl text-blueOne">
        03
      </p>
      <p class="font-arvo w-full text-center font-bold text-blueOne">
        Mai
      </p>
    </div>
  </div>

  <div class="flex w-[10%] shadow-xl h-[15vh] bg-whiteOne border border-gray-300">
    <div class="flex flex-col items-center justify-center  w-[100%] h-full">
      <p class="font-arvo w-full text-center font-bold text-blueOne">
        Ven.
      </p>
      <p class="font-arvo font-bold w-full text-center text-2xl text-blueOne">
        03
      </p>
      <p class="font-arvo w-full text-center font-bold text-blueOne">
        Mai
      </p>
    </div>
  </div>

  <div class="flex w-[10%] shadow-xl h-[15vh] bg-whiteOne border border-gray-300">
    <div class="flex flex-col items-center justify-center  w-[100%] h-full">
      <p class="font-arvo w-full text-center font-bold text-blueOne">
        Ven.
      </p>
      <p class="font-arvo font-bold w-full text-center text-2xl text-blueOne">
        03
      </p>
      <p class="font-arvo w-full text-center font-bold text-blueOne">
        Mai
      </p>
    </div>
  </div>

  <div class="flex w-[10%] shadow-xl h-[15vh] bg-whiteOne border border-gray-300">
    <div class="flex flex-col items-center justify-center  w-[100%] h-full">
      <p class="font-arvo w-full text-center font-bold text-blueOne">
        Ven.
      </p>
      <p class="font-arvo font-bold w-full text-center text-2xl text-blueOne">
        03
      </p>
      <p class="font-arvo w-full text-center font-bold text-blueOne">
        Mai
      </p>
    </div>
  </div>
</body>
</html>