@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .nav {
      @apply relative text-blueOne font-arvo font-bold tracking-wide hover:text-goldOne;
      font-size: calc(0.8rem + 0.2vw);
      margin-left: calc(1rem - 4.5vw);
    }
    @screen md {
      .nav {
        margin-left: calc(1rem - 5vw); 
      }
    }
    @screen lg {
      .nav {
        margin-left: calc(1rem); 
      }
    }
    @screen xl {
      .nav {
        margin-left: calc(1.5rem); 
      }
    }
    /* navbar  link active color animation */
    .nav::after {
      content: '';
      @apply bg-goldOne h-[3px] w-0 left-0 -bottom-[5px] rounded-xl absolute duration-300;
    }
    .nav:hover::after {
      @apply w-[100%];
    }
    .nav.active a {
      @apply text-goldOne;
    }
    .nav.active::after {
        @apply w-[100%];
    }

        /* login form link active color animation */
      .form-link {
        @apply relative text-blueOne  font-extrabold text-center text-base md:text-xl;
    }
      .form-link:hover h2 {
        @apply text-goldOne;
    }
    .form-link::after {
      content: '';
      @apply bg-goldOne h-[3px] w-0 left-0 -bottom-[5px] rounded-xl absolute duration-700;
    }
    .form-link:hover::after {
      @apply w-[100%];
    }
    .form-link.active h2{
        @apply text-goldOne;
    }
    .form-link.active::after {
        @apply w-[100%];
    }

    /* login form link color animation */
    .text-fill {
      @apply font-arvo text-2xl;
      position: relative;
      display: inline-block;
      color: #102C57; 
      background: linear-gradient(to right, #102C57  50%, #E3B04B  50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 0 0; 
      transition: background-position 0.7s ease;
    }
    
    .form-link:hover .text-fill {
      background-position: -100% 0;
    }

    .form-link.active .text-fill {
      background-position: -100% 0; 
      color: #E3B04B; 
      -webkit-text-fill-color: #E3B04B;
    }

    /*section responsive */
    .section-min-height {
      min-height: calc(100vh - 68px);
    }

    /*hamburger btn animation */
    .toggle-btn{
      @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45
      [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent  [&>div]:rotate-[720deg]
    }

    /*custom checkbox */
    .custom-checkbox {
      @apply appearance-none h-6 w-6 border-2 border-gray-300 rounded-md focus:outline-none transition duration-200;
    }
    .custom-checkbox:checked {
      @apply bg-goldOne border-transparent;
    }
    .custom-checkbox:checked::after {
      content: '';
      @apply absolute;
      top: 50%;
      left: 50%;
      width: 30px; 
      height: 30px; 
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M20.285 6.707l-10.585 10.585-4.707-4.707 1.414-1.414 3.293 3.293 9.171-9.171 1.414 1.414z"/></svg>');
      background-size: contain;
      transform: translate(-50%, -50%);
    }
   
    

  }
