<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/output.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <title>Cinéphoria</title>
    <script type="module" defer src="../renderer.js"></script>
</head>

<body data-page="login">
    <!-- logo -->
   <div class="container w-full flex items-center justify-center  h-24 mt-8">
       <div class="w-40 h-full ">
            <img src="./assets/images/logo-principal.png" alt="Logo Cinéphoria">
       </div>
   </div>

   <!-- connection form -->
    <main class="w-full h-fit py-20">
        <!-- title section -->
        <section class=" mx-auto w-fit h-fit">
            <h1 class="text-blueOne font-extrabold font-arvo tracking-wide text-center text-2xl mb-20 md:text-3xl">CONNEXION</h1>
        </section>
        <!-- login form section -->
        <section>
            <form class="font-arvo px-10 mx-auto form  w-[65%]" action="" method="post" id="">
                <input type="hidden" name="redirect">
                <div class="flex flex-col">
                    <div class="">
                        <div class="w-full border border-gray-300 p-3 rounded-sm bg-whiteOne mb-3">
                            <input class="bg-whiteOne outline-none flex-1 w-full placeholder:text-blueOne" type="text" id="email" name="email" placeholder="E-mail*" required>
                        </div>
                    </div>
                    <div class="">
                        <div class="w-full border border-gray-300 p-3 rounded-sm bg-whiteOne mb-3">
                            <input class="bg-whiteOne m-0 w-full outline-none placeholder:text-blueOne" type="password" id="password" name="password" placeholder="Mot de passe*" required>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center mt-6">
                    <button class="bg-redOne text-white py-2 px-4 w-52 rounded-sm hover:scale-95 hover:bg-red-500 duration-200">JE ME CONNECTE</button>
                </div>
                <p class="text-sm text-center font-extrabold text-blueOne opacity-90 mt-2 mb-4">*Champs obligatoires</p>
            </form>
        </section>
    </main>
</body>

</html>